<div id="welcome">
  <div class="hero-unit">
    <h1>This and that<br>with <span style="color:#0073cc;">these</span> things</h1>
      <p>And a witty tagline goes here<br>
      This is. What you. Might do. With it.</p>
  </div>
	
  <div id="well" class="row well">
    <div class="span4 offset2 text_only">We're fanatical about the speed of our service. To ensure a great experience for all of our users we're inviting people on a rolling basis. Enter your email to the right and we'll keep you posted on our progress. We'll get you your invite as soon as we can!
    </div>
    <div class="span4">	
      <div id="request-invite" class="form-inline">
        <%= render 'email_capture' %>
      </div>
    </div>
  </div>
</div>
