<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Nice Landing Page</title>
  <link rel="stylesheet" href="stylesheets/reset.css" />
  <!-- link rel="stylesheet" href="stylesheets/landing.css" / -->
  <link rel="stylesheet" href="stylesheets/application.css" />
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:regular,500,bold,900' rel='stylesheet' type='text/css'>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
    <section id="intro" class="clearfix">
      <br>
      <h1>Web Service for Overall Agile Software Quality Monitoring</h1>
      <!-- img src="http://placehold.it/460x310" width="460" height="310" alt="An image relevant to the copy" / -->
      <br>
      <div>
        <h1>One-time Assesment</h1>
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</strong></p>
        <br>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
          <li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
          <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
        </ul>
      </div>

      <div>
        <h1>On-going Monitoring and Alerts</h1>

        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</strong></p>
        <br>
        <ul>
          <li>Sed do eiusmod tempor incididunt ut labore et dolore</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
          <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
        </ul>
        <span id="call-to-action">Want in? - click here<br> <br><a href="#">Request Invite!</a></span>
      </div>
    </section>

    <article class="testimonial">
      <!-- img src="http://placehold.it/150x180" width="150" height="180" alt="An image relevant to the copy" / -->
      <div>
        <h1>A Testimonial!</h1>

        <p>TBD</p>
      </div>
    </article>
    <section id="info">
      <!-- img src="http://placehold.it/150x180" width="150" height="180" alt="An image relevant to the copy" / -->
      <div>
        <h1>More Information</h1>

        <p>TBD</p>
      </div>
    </section>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</body>
</html>
